*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e6e6e6;;
    height: auto;
    width: auto;
}
#app{
    min-height: 100vh;
}
.container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: auto;
    align-items: center;
    padding: 2% 1%;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    background: #1d1d36;
    color: #f3f3f3;
    width: 100%;
}
.logo{
    font-size: 20px;
    height: auto;
    width: 30%;
}
.inp{
    margin-right: 3%;
    width: 100%;
    height: 30px;
}
.form{
    display: flex;
    justify-content: space-around;
}

h2{
    display: flex;
    justify-content: space-between;
    padding: 3% 0%;
}
.mask-num{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid;
    margin-right: 14%;
}
.mask-list{
    list-style: none;
    margin-left: 14%;
}
.ul-li{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    width: 84%;
}
.line{
    width: 72%;
    margin: 0% 14%;
}
.btn{
    background-color: #4e4eff;
    color: #e6e6e6;
    width: 100%;
    height: auto;
}
.span-name{
    margin-left: 14%;
}
.btn-remove{
    height: 30px;
    width: 100px;
    background-color: #1d1d36;
    color: #e6e6e6;
}
.span-input{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:540px) {

}